{% extends 'base_core.html' %}
{% load static %}

{% block content %}
{% include 'partials/navheader-preloader.html' %}
{% include 'partials/header.html' %}
{% include 'partials/sidebar.html' %}

<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">Class Details</h5>
          </div>
          <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-xl-12 col-lg-8">
                  <div class="row">
                    <div class="col-xl-6 col-sm-6">
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label text-primary">Classname<span
                            class="required">*</span></label>
                        {{form.name}}
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label text-primary">Students<span
                            class="required">*</span></label>
                        {{form.students}}
                      </div>
                    </div>
                    <div class="col-xl-6 col-sm-6">
                     
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label text-primary">Lessons Name<span
                            class="required">*</span></label>
                        {{form.lessons}}
                      </div>
                     
                    </div>
                    <hr>
                    {% if form.errors %}
                    <div class="alert alert-danger">
                      <ul>
                        {% for field in form %}
                        {% if field.errors %}
                        <li>
                          <strong>{{ field.label }}</strong>:
                          {% for error in field.errors %}
                          {{ error }}
                          <br>
                          {% endfor %}
                        </li>
                        {% endif %}
                        {% endfor %}
                      </ul>
                    </div>
                    {% endif %}
                  </div>
                  <button type="submit" class="btn btn-block btn-primary">Register</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
