{% extends 'base_core.html' %}
{% load static %}

{% block content %}
{% include 'partials/navheader-preloader.html' %}
{% include 'partials/header.html' %}
{% include 'partials/sidebar.html' %}

<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">Section Editing</h5>
          </div>
          <div class="card-body">
        <div id="formContainer">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-xl-12 col-lg-8">
                  <div class="row">
                    <div class="col-xl-3 col-sm-6">
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label text-primary">Section Title<span
                            class="required">*</span></label>
                        {{form.title}}
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label text-primary">Teacher<span
                            class="required">*</span></label>
                        {{form.teacher}}
                      </div>
                    </div>
                    <div class="col-xl-6 col-sm-6 form-check">
                        <div class="mb-3">
                            <label class="form-check-label text-primary">Students<span class="required">*</span></label><br>
                            {% for student in form.students %}
                                <div class="form-check">
                                    {{ student }}
                                </div>
                            {% endfor %}
                        </div>
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label text-primary">Max Students<span
                            class="required">*</span></label>
                        {{form.max_student_count}}
                         </div>
                    </div>
                <hr>
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                        {% for field in form %}
                        {% if field.errors %}
                        <li>
                          <strong>{{ field.label }}</strong>:
                          {% for error in field.errors %}
                          {{ error }}
                          <br>
                          {% endfor %}
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
 
    </div>
    <button type="submit" class="btn btn-block btn-primary" onclick=createNewSection() >Save</button>
            </form>
            <script>
                let formCounter = 1;
            
                function createNewSection() {
                  const formContainer = document.getElementById("formContainer");
                  const newForm = document.createElement("form");
                  newForm.className = "section-form";
                  newForm.innerHTML = `
                    {% csrf_token %}
                    {% for field in form %}
                      <div class="form-group">
                        ${field.label_tag} ${field}
                        {% if field.errors %}
                          <span class="text-danger">${field.errors.join(", ")}</span>
                        {% endif %}
                      </div>
                    {% endfor %}
                    <button type="sumbit" onclick="createNewSection()">Save</button>
                  `;
            
                  formContainer.appendChild(newForm);
                  formCounter++;
                }
              </script>
            
            <a href="{% url 'add-lesson' %}">Go to the Lesson</a>

        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
