{% extends 'base_core.html' %}
{% load static %}

{% block content %}
{% include 'partials/navheader-preloader.html' %}
{% include 'partials/header.html' %}
{% include 'partials/sidebar.html' %}

<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">Add Lesson Form</h5>
          </div>
          <div class="card-body ">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-xl-12 col-lg-8">
                  <div class="row">
                    <div class="col-xl-4 col-sm-6">
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label text-primary">Lesson Title<span
                            class="required">*</span></label>
                        {{form.title}}
                      </div>
                    </div>
                    <div class="col-xl-4 col-sm-6">

                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label text-primary">Season<span
                            class="required">*</span></label>
                        {{form.season}}
                      </div>
                    </div>
                    <div class="col-xl-4 col-sm-6">

                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label text-primary">Section<span
                            class="required">*</span></label>
                        {{form.section}}
                      </div>
                    </div>
                <hr>
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                        {% for field in form %}
                        {% if field.errors %}
                        <li>
                          <strong>{{ field.label }}</strong>:
                          {% for error in field.errors %}
                          {{ error }}
                          <br>
                          {% endfor %}
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-block btn-primary">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
