{% extends 'base_core.html' %}
{% load static %}
{% block content %}
{% include 'partials/navheader-preloader.html' %}
{% include 'partials/header.html' %}
{% include 'partials/sidebar.html' %}

<!-- ... -->
<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">Add Lesson Form</h5>
                    </div>
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data" id="lesson-form">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-12 col-lg-8">
                                    <div class="row">
                                        <div class="col-xl-4 col-sm-6">
                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1" class="form-label text-primary">Lesson Title<span class="required">*</span></label>
                                                {{lesson_form.title}}
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-sm-6">
                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1" class="form-label text-primary">Season<span class="required">*</span></label>
                                                {{lesson_form.season}}
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    {% if lesson_form.errors %}
                                    <div class="alert alert-danger">
                                      <ul>
                                        {% for field in lesson_form %}
                                        {% if field.errors %}
                                        <li>
                                          <strong>{{ field.label }}</strong>:
                                          {% for error in field.errors %}
                                          {{ error }}
                                          <br>
                                          {% endfor %}
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                      </ul>
                                    </div>
                                    {% endif %}
                                    {{ section_formset.management_form }}
                                    <div id="section_formset">
                                        <div>
                                    {% for form in section_formset %}
                                    <h5> Section {{forloop.counter}}  </h5>
                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label text-primary">Title<span class="required">*</span></label>
                                            {{form.title}}
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label text-primary">Teacher<span class="required">*</span></label>
                                            {{form.teacher}}
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label text-primary">Students<span class="required">*</span></label>
                                            {% for student in form.students %}
                                            <div class="form-check">
                                                {{ student }} {{student.user.last_name }}
                                            </div>  
                                              {% endfor %}                                      
                                      </div>
                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label text-primary">Max Student Count<span class="required">*</span></label>
                                            {{form.max_student_count}}
                                        </div>

                                                                {% if section_formset.errors %}
                                                                    {% if form.errors %}
                                                                        <div class="alert alert-danger">
                                                                            <ul>
                                                                                {% for field in form %}
                                                                                    {% if field.errors %}
                                                                                        <li>
                                                                                            <strong>{{ field.label }}</strong>:
                                                                                            {% for error in field.errors %}
                                                                                                {{ error }}
                                                                                                <br>
                                                                                            {% endfor %}
                                                                                        </li>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </ul>
                                                                        </div>
                                                                    {% endif %}
                                                            {% endif %}    
                                                            {% if request.method == 'POST' and not form.has_changed and not form.errors %}
                                                                    <div class="alert alert-danger"><strong>Please fill at least one form of Section.</strong> </div>
                                                            {% endif %}
                                                            
                                    {% endfor %}
                                         </div>
                                    </div>     
                                  

                                </div>
                            </div>
                            <button type="button" class="btn btn-block btn-primary" id="add-section-btn">+ Add Section</button>
                             <hr>
                            <button type="submit" class="btn btn-block btn-primary">Save</button>
                        </form>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('add-section-btn').addEventListener('click', function() {
        const formIdx = document.getElementById('id_section_form-TOTAL_FORMS').value;
        const emptyFormTemplate = `
                                    <<h5> Season ${parseInt(formIdx) + 1}</h5> 
                                     <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label text-primary">Title<span class="required">*</span></label>
                                        {{ section_formset.empty_form.title }}
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label text-primary">Teacher<span class="required">*</span></label>
                                        {{ section_formset.empty_form.teacher }}
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label text-primary">Students<span class="required">*</span></label>
                                        {% for student in section_formset.empty_form.students  %}
                                        <div class="form-check">
                                            {{ student }}
                                        </div>
                                          {% endfor %}     
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label text-primary">Max Student Count<span class="required">*</span></label>
                                        <input type="number" name="section_form-${formIdx}-max_student_count" class="form-control">
                                    </div>
                            `;
                            const newForm = emptyFormTemplate.replace(/__prefix__/g, formIdx);
                            document.getElementById('id_section_form-TOTAL_FORMS').value = parseInt(formIdx) + 1;        
                            const formWrapper = document.createElement('div');
                            formWrapper.innerHTML = `${newForm}`;
                            document.getElementById('section_formset').appendChild(formWrapper);
    });
</script>

{% endblock %}

