{% extends 'base_core.html' %}
{% load static %}
{% block content %}
{% include 'partials/navheader-preloader.html' %}
{% include 'partials/header.html' %}
{% include 'partials/sidebar.html' %}

<!-- ... -->
<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">Add Lesson Form</h5>
                    </div>
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data" id="lesson-form">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-12 col-lg-8">
                                    <div class="row">
                                        <div class="col-xl-4 col-sm-6">
                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1" class="form-label text-primary">Lesson Title<span class="required">*</span></label>
                                                {{lesson_form.title}}
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-sm-6">
                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1" class="form-label text-primary">Season<span class="required">*</span></label>
                                                {{lesson_form.season}}
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1" class="form-label text-primary">Sections<span class="required">*</span></label>
                                                {{lesson_form.section}}
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    {{ section_forms.management_form }}
                                    <div id="section-forms-container">
                                        {% for form in section_forms %}
                                            {{ form.as_p }}
                                        {% endfor %}
                                    </div>                   
                                      <hr>
                                    {% if lesson_form.errors %}
                                    <div class="alert alert-danger">
                                        <ul>
                                            {% for field in lesson_form %}
                                            {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                            {% endfor %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <button type="button" class="btn btn-block btn-primary" id="add-section-btn">+ Add Section</button>
                            <button type="submit" class="btn btn-block btn-primary">Save</button>
                        </form>
                        <script>
                            let formIdx = {{ section_forms.total_form_count }}; // Get the current number of forms from Django
                        
                            document.getElementById('add-section-btn').addEventListener('click', function() {
                                const formPrefix = 'form-' + formIdx + '-'; // Correct form prefix
                                const newForm = '{{ section_forms.empty_form|escapejs }}'.replace(/__prefix__/g, formPrefix);
                                document.getElementById('id_form2-TOTAL_FORMS').value = parseInt(formIdx) + 1;
                                document.getElementById('section-forms-container').insertAdjacentHTML('beforeend', newForm);
                                formIdx++; // Increment the form index
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
