{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="authincation h-100" style="background-image: url(images/student-bg.jpg); background-repeat:no-repeat; background-size:cover;">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-lg-6 col-sm-12">
                    <div class="form-input-content  error-page">
						<h1 class="error-text text-primary">404</h1>
						<h4> You may have permission for reach this page.</h4>
						<p>The page you were looking for is not found!</p>
                        <a class="btn btn-primary" href="{% url 'login' %}">Back to home</a>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
					<img  class="w-100" src="{% static 'images/svg/student.svg' %}" alt="">
				</div>
            </div>
        </div>
    </div>

{% endblock %}