{% load static %}
{% block content %}
<!--**********************************
            Sidebar start
        ***********************************-->
        <div class="dlabnav">
			<div class="dlabnav-scroll">	
				<ul class="metismenu" id="menu">
					{% if request.user.user_type == 'student' or request.user.user_type == 'teacher' or request.user.user_type == 'admin' %}
							<li>
						<a href="{% url 'home' %}" class=" nav-text " href="javascript:void(0);" aria-expanded="false">
							<i class="material-symbols-outlined">home</i>
							<span class="nav-text">Dashboard</span>
						</a>
							</li>
					{% endif %}
					{% if request.user.user_type == 'admin' %}

					<li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
						<i class="material-symbols-outlined">school</i>
						<span class="nav-text">Student</span>
					</a>
					<ul aria-expanded="false">
						<li><a href="{% url 'students' %}">Students</a></li>
						<li><a href="{% url 'register-student' %}">Add New Student</a></li>
					</ul>

					</li>
					<li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
						<i class="material-symbols-outlined">person</i>
						<span class="nav-text">Teacher</span>
					</a>
					<ul aria-expanded="false">
						<li><a href="{% url 'teachers' %}">Teachers</a></li>
						<li><a href="{% url 'register-teacher' %}">Add New Teacher</a></li>
					</ul>

					</li>
					<li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
						<i class="material-symbols-outlined">supervisor_account</i>
						<span class="nav-text">Staff</span>
					</a>
					<ul aria-expanded="false">
						<li><a href="{% url 'staff' %}">Staffs</a></li>
						<li><a href="{% url 'register-staff' %}">Add New Staff</a></li>
					</ul>
					

					</li>
					<li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
						<i class="material-symbols-outlined">class</i>
						<span class="nav-text">Classes</span>
					</a>
					<ul aria-expanded="false">
						<li><a href="{% url 'add_class' %}">Classes</a></li>
						<li><a href="{% url 'add_class' %}">Add New Class</a></li>
					</ul>
					

					</li>
					{% endif %}
				</ul>
				
			</div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
{% endblock %}